
/****** Object:  Table [dbo].[Tool_batch]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tool_batch](
	[id] [varchar](50) NOT NULL,
	[batch_type] [varchar](50) NULL,
	[batch_filter] [varchar](max) NULL,
	[o_emp_id] [varchar](50) NULL,
	[c_emp_id] [varchar](50) NULL,
	[b_count] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Tool_batch] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Task_follow]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Task_follow](
	[id] [varchar](50) NOT NULL,
	[task_id] [varchar](50) NULL,
	[follow_id] [varchar](50) NULL,
	[follow_time] [datetime] NULL,
	[follow_content] [nvarchar](max) NULL,
	[follow_status] [int] NULL,
 CONSTRAINT [PK_Task_follow] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Task]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Task](
	[id] [varchar](50) NOT NULL,
	[task_title] [nvarchar](250) NULL,
	[task_content] [nvarchar](max) NULL,
	[task_type_id] [varchar](50) NULL,
	[customer_id] [varchar](50) NULL,
	[assign_id] [varchar](50) NULL,
	[executive_id] [varchar](50) NULL,
	[executive_time] [datetime] NULL,
	[task_status_id] [int] NULL,
	[Priority_id] [int] NULL,
	[remind_time] [datetime] NULL,
	[isCheck] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_role_emp]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_role_emp](
	[RoleID] [varchar](50) NOT NULL,
	[empID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_role]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_role](
	[id] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](255) NULL,
	[RoleDscript] [nvarchar](255) NULL,
	[RoleSort] [int] NULL,
	[DataAuth] [int] NULL,
	[PublicAuth] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sys_role] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_role] ([id], [RoleName], [RoleDscript], [RoleSort], [DataAuth], [PublicAuth], [create_id], [create_time]) VALUES (N'9C348B4A-E487-4A77-9147-FFE0EEA65E3B', N'系统管理员', N'拥有全部权限', 999, 5, 1, N'38295F35-8507-4254-B727-B8FF26E9E302', CAST(0x0000A7DE00B7F9ED AS DateTime))
INSERT [dbo].[Sys_role] ([id], [RoleName], [RoleDscript], [RoleSort], [DataAuth], [PublicAuth], [create_id], [create_time]) VALUES (N'C483A514-8209-4D78-BBEB-83407E6F6F00', N'业务员', N'查看本人数据', 10, 1, 0, N'38295F35-8507-4254-B727-B8FF26E9E302', CAST(0x0000A7DE00BFE501 AS DateTime))
/****** Object:  Table [dbo].[Sys_Param_Type]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Param_Type](
	[id] [varchar](50) NOT NULL,
	[params_name] [varchar](250) NULL,
	[params_order] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sys_Param_Type] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Param_Type] ([id], [params_name], [params_order], [create_id], [create_time]) VALUES (N'invoice_type', N'【发票】类型', 90, NULL, NULL)
INSERT [dbo].[Sys_Param_Type] ([id], [params_name], [params_order], [create_id], [create_time]) VALUES (N'order_status', N'【订单】状态', 80, NULL, NULL)
INSERT [dbo].[Sys_Param_Type] ([id], [params_name], [params_order], [create_id], [create_time]) VALUES (N'pay_type', N'【支付】方式', 70, NULL, NULL)
/****** Object:  Table [dbo].[Sys_Param_Provinces]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Param_Provinces](
	[id] [varchar](50) NOT NULL,
	[Provinces] [varchar](250) NULL,
	[Provinces_order] [int] NULL,
	[Provinces_type] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sys_Param_Provinces] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Param_Provinces] ([id], [Provinces], [Provinces_order], [Provinces_type], [create_id], [create_time]) VALUES (N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', N'北京市', 10, N'sys', NULL, NULL)
INSERT [dbo].[Sys_Param_Provinces] ([id], [Provinces], [Provinces_order], [Provinces_type], [create_id], [create_time]) VALUES (N'2D1FD454-4F3B-407D-988B-F589AF8A6DD8', N'上海', 20, N'sys', NULL, NULL)
INSERT [dbo].[Sys_Param_Provinces] ([id], [Provinces], [Provinces_order], [Provinces_type], [create_id], [create_time]) VALUES (N'7C38C5CC-3008-4D9F-AC83-68AF5C8AE421', N'天津', 30, N'sys', NULL, NULL)

/****** Object:  Table [dbo].[Sys_Param_City]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Param_City](
	[id] [varchar](50) NOT NULL,
	[Provinces_id] [varchar](50) NULL,
	[City] [varchar](250) NULL,
	[City_order] [int] NULL,
	[City_type] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sys_Param_City] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Param_City] ([id], [Provinces_id], [City], [City_order], [City_type], [create_id], [create_time]) VALUES (N'177E60D7-6326-440E-A8E4-74B3180D1F4F', N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', N'东城区', 10, N'sys', N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', NULL)
INSERT [dbo].[Sys_Param_City] ([id], [Provinces_id], [City], [City_order], [City_type], [create_id], [create_time]) VALUES (N'DAE939CF-F47F-4089-98C9-0AEED02A6F05', N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', N'西城区', 20, N'sys', N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', NULL)
INSERT [dbo].[Sys_Param_City] ([id], [Provinces_id], [City], [City_order], [City_type], [create_id], [create_time]) VALUES (N'6BC1AFA9-AE7C-4CC4-9C2E-6809C7A84D58', N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', N'宣武区', 30, N'sys', N'E046DC72-7828-4C2E-86EC-FDD5642C0FDA', NULL)

/****** Object:  Table [dbo].[Sys_Param]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Param](
	[id] [varchar](50) NOT NULL,
	[params_name] [varchar](250) NULL,
	[params_type] [varchar](50) NULL,
	[params_order] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sys_Param] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_online]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_online](
	[UserID] [varchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[LastLogTime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_Menu]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Menu](
	[Menu_id] [varchar](50) NOT NULL,
	[Menu_name] [varchar](255) NULL,
	[parentid] [varchar](50) NULL,
	[App_id] [varchar](50) NULL,
	[Menu_url] [varchar](255) NULL,
	[Menu_icon] [varchar](50) NULL,
	[Menu_order] [int] NULL,
	[Menu_type] [varchar](50) NULL,
	[isMobile] [int] NULL,
	[m_css] [varchar](50) NULL,
	[m_color] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_Menu] PRIMARY KEY NONCLUSTERED 
(
	[Menu_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Menu] ([Menu_id], [Menu_name], [parentid], [App_id], [Menu_url], [Menu_icon], [Menu_order], [Menu_type], [isMobile], [m_css], [m_color]) VALUES (N'compared_cus_add', N'【客户】新增', N'report_compared', N'App_reports', N'reportform/Compared/customer_add.aspx', N'images/icon/37.png', 10, N'sys', NULL, NULL, NULL)
INSERT [dbo].[Sys_Menu] ([Menu_id], [Menu_name], [parentid], [App_id], [Menu_url], [Menu_icon], [Menu_order], [Menu_type], [isMobile], [m_css], [m_color]) VALUES (N'compared_cus_follow', N'【客户】跟进', N'report_compared', N'App_reports', N'reportform/Compared/customer_follow.aspx', N'images/icon/81.png', 50, N'sys', NULL, NULL, NULL)
INSERT [dbo].[Sys_Menu] ([Menu_id], [Menu_name], [parentid], [App_id], [Menu_url], [Menu_icon], [Menu_order], [Menu_type], [isMobile], [m_css], [m_color]) VALUES (N'compared_cus_level', N'【客户】级别', N'report_compared', N'App_reports', N'reportform/Compared/customer_level.aspx', N'images/icon/82.png', 30, N'sys', NULL, NULL, NULL)

/****** Object:  Table [dbo].[Sys_log_Err]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_log_Err](
	[id] [varchar](50) NOT NULL,
	[Err_typeid] [int] NULL,
	[Err_type] [nvarchar](250) NULL,
	[Err_time] [datetime] NULL,
	[Err_url] [varchar](500) NULL,
	[Err_message] [nvarchar](max) NULL,
	[Err_source] [varchar](500) NULL,
	[Err_trace] [nvarchar](max) NULL,
	[Err_emp_id] [varchar](50) NULL,
	[Err_emp_name] [nvarchar](250) NULL,
	[Err_ip] [varchar](250) NULL,
 CONSTRAINT [PK_Sys_log_Err] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_log]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_log](
	[id] [varchar](50) NOT NULL,
	[EventType] [nvarchar](250) NULL,
	[EventID] [varchar](50) NULL,
	[EventTitle] [nvarchar](250) NULL,
	[Log_Content] [nvarchar](max) NULL,
	[UserID] [varchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[IPStreet] [varchar](50) NULL,
	[EventDate] [datetime] NULL,
 CONSTRAINT [PK_Sys_log] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_info]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_info](
	[sys_key] [varchar](50) NOT NULL,
	[sys_value] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sys_info] PRIMARY KEY NONCLUSTERED 
(
	[sys_key] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_info] ([sys_key], [sys_value]) VALUES (N'sys_guid', NEWID())
INSERT [dbo].[Sys_info] ([sys_key], [sys_value]) VALUES (N'sys_name', N'{xx}软件')
INSERT [dbo].[Sys_info] ([sys_key], [sys_value]) VALUES (N'sys_logo', N'images/logo/logo.png')

/****** Object:  Table [dbo].[Sys_data_authority]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_data_authority](
	[Role_id] [varchar](50) NULL,
	[dep_id] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_Button]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Button](
	[Btn_id] [varchar](50) NOT NULL,
	[Btn_name] [nvarchar](255) NULL,
	[Btn_type] [varchar](50) NULL,
	[Btn_icon] [varchar](50) NULL,
	[Btn_handler] [varchar](255) NULL,
	[Menu_id] [varchar](50) NULL,
	[Menu_name] [nvarchar](255) NULL,
	[Btn_order] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sys_Button] PRIMARY KEY NONCLUSTERED 
(
	[Btn_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Button] ([Btn_id], [Btn_name], [Btn_type], [Btn_icon], [Btn_handler], [Menu_id], [Menu_name], [Btn_order], [create_id], [create_time]) VALUES (N'01D0BD07-782B-4E8F-B385-93CFD9ABD30F', N'修改', NULL, N'images/icon/33.png', N'edit()', N'sale_contract', NULL, 20, NULL, NULL)
INSERT [dbo].[Sys_Button] ([Btn_id], [Btn_name], [Btn_type], [Btn_icon], [Btn_handler], [Menu_id], [Menu_name], [Btn_order], [create_id], [create_time]) VALUES (N'739940D0-4C45-41A0-AF8B-DF78487A8139', N'新增', NULL, N'images/icon/11.png', N'add()', N'sale_contract', NULL, 10, NULL, NULL)
INSERT [dbo].[Sys_Button] ([Btn_id], [Btn_name], [Btn_type], [Btn_icon], [Btn_handler], [Menu_id], [Menu_name], [Btn_order], [create_id], [create_time]) VALUES (N'6B8EC7BE-8F6E-495D-8D23-86C99FFAD254', N'新增', NULL, N'images/icon/11.png', N'add()', N'finance_invoice', NULL, 10, NULL, NULL)

/****** Object:  Table [dbo].[Sys_authority]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_authority](
	[Role_id] [varchar](50) NOT NULL,
	[App_id] [varchar](50) NULL,
	[Auth_type] [int] NULL,
	[Auth_id] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sys_App]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_App](
	[id] [varchar](50) NOT NULL,
	[App_name] [nvarchar](100) NULL,
	[App_order] [int] NULL,
	[App_url] [varchar](250) NULL,
	[App_handler] [varchar](250) NULL,
	[App_type] [varchar](50) NULL,
	[App_icon] [varchar](250) NULL,
 CONSTRAINT [PK_Sys_App] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_App] ([id], [App_name], [App_order], [App_url], [App_handler], [App_type], [App_icon]) VALUES (N'App_message', N'办公中心', 10, NULL, N'fa-comments', NULL, N'images/icons/64X64/chat.png')
INSERT [dbo].[Sys_App] ([id], [App_name], [App_order], [App_url], [App_handler], [App_type], [App_icon]) VALUES (N'App_CRM', N'客户管理', 20, NULL, N'fa-phone-square', NULL, N'images/icons/64X64/document.png')
INSERT [dbo].[Sys_App] ([id], [App_name], [App_order], [App_url], [App_handler], [App_type], [App_icon]) VALUES (N'App_sale', N'销售管理', 30, NULL, N'fa-user', NULL, N'images/icons/64X64/devices.png')

/****** Object:  Table [dbo].[SMS_details]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_details](
	[sms_id] [varchar](50) NULL,
	[contact_id] [varchar](50) NULL,
	[mobiles] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[SMS]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS](
	[id] [varchar](50) NOT NULL,
	[sms_title] [nvarchar](250) NULL,
	[sms_content] [nvarchar](max) NULL,
	[contact_ids] [varchar](max) NULL,
	[sms_mobiles] [varchar](max) NULL,
	[isSend] [int] NULL,
	[sendtime] [datetime] NULL,
	[check_id] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_SMS] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sale_order_details]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sale_order_details](
	[order_id] [varchar](250) NULL,
	[product_id] [varchar](250) NULL,
	[agio] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
	[amount] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Sale_order]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sale_order](
	[id] [varchar](50) NOT NULL,
	[Serialnumber] [varchar](250) NULL,
	[Customer_id] [varchar](50) NULL,
	[Order_date] [datetime] NULL,
	[pay_type_id] [varchar](50) NULL,
	[Order_status_id] [varchar](50) NULL,
	[Order_amount] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NULL,
	[emp_id] [varchar](50) NULL,
	[receive_money] [decimal](18, 2) NULL,
	[arrears_money] [decimal](18, 2) NULL,
	[invoice_money] [decimal](18, 2) NULL,
	[arrears_invoice] [decimal](18, 2) NULL,
	[Order_details] [varchar](max) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Sale_order] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[public_notice]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[public_notice](
	[id] [varchar](50) NOT NULL,
	[notice_title] [varchar](250) NULL,
	[notice_content] [varchar](max) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_public_notice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[public_news]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[public_news](
	[id] [varchar](50) NOT NULL,
	[news_title] [varchar](250) NULL,
	[news_content] [varchar](max) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_public_news] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Product_category]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_category](
	[id] [varchar](50) NOT NULL,
	[product_category] [varchar](250) NULL,
	[parentid] [varchar](50) NULL,
	[product_icon] [varchar](250) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Product_category] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Product]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[id] [varchar](50) NOT NULL,
	[product_name] [varchar](250) NULL,
	[category_id] [varchar](50) NULL,
	[status] [varchar](250) NULL,
	[unit] [varchar](250) NULL,
	[cost] [decimal](18, 2) NULL,
	[price] [decimal](18, 2) NULL,
	[agio] [decimal](18, 2) NULL,
	[remarks] [varchar](max) NULL,
	[specifications] [varchar](250) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Personal_queckmenu]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personal_queckmenu](
	[user_id] [varchar](50) NULL,
	[menu_id] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Personal_notes]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personal_notes](
	[id] [varchar](50) NOT NULL,
	[emp_id] [varchar](50) NULL,
	[emp_name] [varchar](250) NULL,
	[note_content] [varchar](max) NULL,
	[note_color] [varchar](250) NULL,
	[xyz] [varchar](250) NULL,
	[note_time] [datetime] NULL,
 CONSTRAINT [PK_Personal_notes] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Personal_Calendar]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personal_Calendar](
	[id] [varchar](50) NOT NULL,
	[emp_id] [varchar](50) NULL,
	[customer_id] [varchar](50) NULL,
	[Subject] [varchar](max) NULL,
	[MasterId] [int] NULL,
	[CalendarType] [tinyint] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[IsAllDayEvent] [bit] NULL,
	[Category] [int] NULL,
	[InstanceType] [tinyint] NULL,
	[UPAccount] [varchar](250) NULL,
	[UPName] [varchar](250) NULL,
	[UPTime] [datetime] NULL,
 CONSTRAINT [PK_Personal_Calendar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[hr_post]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_post](
	[id] [varchar](50) NOT NULL,
	[post_name] [nvarchar](255) NULL,
	[position_id] [varchar](50) NULL,
	[dep_id] [varchar](50) NULL,
	[emp_id] [varchar](50) NULL,
	[default_post] [int] NULL,
	[note] [nvarchar](max) NULL,
	[post_descript] [nvarchar](max) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_hr_post] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[hr_position]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_position](
	[id] [varchar](50) NOT NULL,
	[position_name] [nvarchar](250) NULL,
	[position_order] [int] NULL,
	[position_level] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_hr_position] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[hr_employee]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_employee](
	[id] [varchar](50) NOT NULL,
	[uid] [varchar](50) NULL,
	[pwd] [varchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[idcard] [varchar](50) NULL,
	[birthday] [varchar](50) NULL,
	[dep_id] [varchar](50) NULL,
	[post_id] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[sex] [nvarchar](50) NULL,
	[tel] [varchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[position_id] [varchar](50) NULL,
	[sort] [int] NULL,
	[EntryDate] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[remarks] [nvarchar](255) NULL,
	[education] [nvarchar](50) NULL,
	[level] [varchar](50) NULL,
	[professional] [nvarchar](50) NULL,
	[schools] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[portal] [varchar](250) NULL,
	[theme] [varchar](250) NULL,
	[canlogin] [int] NULL,
	[default_city] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_hr_employee] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[hr_employee] ([id], [uid], [pwd], [name], [idcard], [birthday], [dep_id], [post_id], [email], [sex], [tel], [status], [position_id], [sort], [EntryDate], [address], [remarks], [education], [level], [professional], [schools], [title], [portal], [theme], [canlogin], [default_city], [create_id], [create_time]) VALUES (N'38295F35-8507-4254-B727-B8FF26E9E302', N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', N'超级管理员', N'', N'', N'0', N'0', N'', N'男', N'', NULL, N'0', NULL, NULL, N'', NULL, N'', NULL, N'', N'', N'admin.png', NULL, NULL, 1, N'长沙', NULL, NULL)

/****** Object:  Table [dbo].[hr_department]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_department](
	[id] [varchar](50) NOT NULL,
	[dep_name] [nvarchar](50) NULL,
	[parentid] [varchar](50) NULL,
	[parentname] [nvarchar](50) NULL,
	[dep_type] [nvarchar](50) NULL,
	[dep_icon] [varchar](50) NULL,
	[dep_chief] [nvarchar](50) NULL,
	[dep_tel] [varchar](50) NULL,
	[dep_fax] [varchar](50) NULL,
	[dep_add] [nvarchar](255) NULL,
	[dep_email] [varchar](50) NULL,
	[dep_descript] [nvarchar](255) NULL,
	[dep_order] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_hr_department] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Finance_Receive]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Finance_Receive](
	[id] [varchar](50) NOT NULL,
	[Receive_num] [varchar](50) NULL,
	[Pay_type_id] [varchar](50) NULL,
	[Receive_amount] [decimal](18, 2) NULL,
	[Receive_date] [datetime] NULL,
	[Payee_id] [varchar](50) NULL,
	[Receivable_id] [varchar](50) NULL,
	[Remarks] [nvarchar](max) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Finance_Receive] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Finance_Receivable]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Finance_Receivable](
	[id] [varchar](50) NOT NULL,
	[receivable_no] [varchar](50) NULL,
	[order_id] [varchar](50) NULL,
	[receivable_time] [datetime] NULL,
	[receivable_amount] [decimal](18, 2) NULL,
	[received_amount] [decimal](18, 2) NULL,
	[arrears_amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](max) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_Finance_Receivable] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Finance_Invoice]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Finance_Invoice](
	[id] [varchar](50) NOT NULL,
	[order_id] [varchar](50) NULL,
	[invoice_num] [varchar](250) NULL,
	[invoice_type_id] [varchar](50) NULL,
	[invoice_amount] [decimal](18, 2) NULL,
	[invoice_content] [varchar](max) NULL,
	[invoice_date] [datetime] NULL,
	[empid] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_invoice] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[CRM_follow]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_follow](
	[id] [varchar](50) NOT NULL,
	[customer_id] [varchar](50) NULL,
	[contact_id] [varchar](50) NULL,
	[follow_aim_id] [varchar](50) NULL,
	[follow_type_id] [varchar](50) NULL,
	[follow_content] [varchar](max) NULL,
	[follow_time] [datetime] NULL,
	[employee_id] [varchar](50) NULL,
 CONSTRAINT [PK_CRM_follow] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[CRM_Customer]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_Customer](
	[id] [varchar](50) NOT NULL,
	[Serialnumber] [varchar](250) NULL,
	[cus_name] [varchar](250) NULL,
	[cus_add] [varchar](250) NULL,
	[cus_tel] [varchar](250) NULL,
	[cus_fax] [varchar](250) NULL,
	[cus_website] [varchar](250) NULL,
	[cus_industry_id] [varchar](50) NULL,
	[Provinces_id] [varchar](50) NULL,
	[City_id] [varchar](50) NULL,
	[cus_type_id] [varchar](50) NULL,
	[cus_level_id] [varchar](50) NULL,
	[cus_source_id] [varchar](50) NULL,
	[DesCripe] [varchar](4000) NULL,
	[Remarks] [varchar](4000) NULL,
	[emp_id] [varchar](50) NULL,
	[isPrivate] [int] NULL,
	[lastfollow] [datetime] NULL,
	[xy] [varchar](50) NULL,
	[cus_extend] [varchar](max) NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_Customer] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[CRM_contract_atta]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_contract_atta](
	[id] [varchar](50) NOT NULL,
	[contract_id] [varchar](50) NULL,
	[file_name] [varchar](250) NULL,
	[real_name] [varchar](250) NULL,
	[file_size] [int] NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_contract_atta] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[CRM_contract]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_contract](
	[id] [varchar](50) NOT NULL,
	[Contract_name] [varchar](250) NULL,
	[Serialnumber] [varchar](250) NULL,
	[Customer_id] [varchar](50) NULL,
	[Contract_amount] [float] NULL,
	[Pay_cycle] [int] NULL,
	[Start_date] [datetime] NULL,
	[End_date] [datetime] NULL,
	[Sign_date] [datetime] NULL,
	[Customer_Contractor] [varchar](250) NULL,
	[Our_Contractor_id] [varchar](50) NULL,
	[Main_Content] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[creater_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_contract] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[CRM_Contact]    Script Date: 09/18/2017 12:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_Contact](
	[id] [varchar](50) NOT NULL,
	[C_name] [varchar](250) NULL,
	[C_sex] [int] NULL,
	[C_department] [varchar](250) NULL,
	[C_position] [varchar](250) NULL,
	[C_birthday] [datetime] NULL,
	[C_tel] [varchar](250) NULL,
	[C_fax] [varchar](250) NULL,
	[C_email] [varchar](250) NULL,
	[C_mob] [varchar](250) NULL,
	[C_QQ] [varchar](250) NULL,
	[C_add] [varchar](250) NULL,
	[C_hobby] [varchar](250) NULL,
	[C_remarks] [varchar](max) NULL,
	[customer_id] [varchar](50) NULL,
	[create_id] [varchar](50) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_Contact] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

